In [2]:
import pandas as pd

There are two core objects in pandas: the DataFrame and the Series.

# DataFrame

In [3]:
pd.DataFrame({'Yes' : [50, 21], 'No' : [131, 2]})

   Yes   No
0   50  131
1   21    2

here's a DataFrame whose values are strings:

In [16]:
bob = pd.DataFrame({'Bob' : ['I liked it.', 'It was awful'], 'Sue' : ['Pretty good.', 'Bland.']})
bob

            Bob           Sue
0   I liked it.  Pretty good.
1  It was awful        Bland.

save this DataFrame to disk as a csv file

In [17]:
bob.to_csv('Bob_Saved')

We can assign values to the index

In [6]:
pd.DataFrame({'Bob' : ['I liked it.', 'It was awful'], 'Sue' : ['Pretty good.', 'Bland.']}, index=['Product A', 'Product B'])

                    Bob           Sue
Product A   I liked it.  Pretty good.
Product B  It was awful        Bland.

# Series

If a DataFrame is a table, a Series is a list.

In [7]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

# Reading data files

In [12]:
housing = pd.read_csv("C:/Github/Pandas/pandas/housing.csv", index_col = 0)

shape attribute to check how large the resulting DataFrame is:

In [10]:
housing.shape

(20640, 10)

In [11]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY