In [3]:
import pandas as pd

In [5]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [9]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.', 'oh noo'],
              'Sue': ['Pretty good.', 'Bland.', 'wow']},
            index = ['Product A', 'Product B', 'Product C'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.
Product C         oh noo           wow

In [10]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64